---
---

//@import "{{ site.theme }}";
body {
  margin:0;
  padding:0;
  background:#151515 url("../images/bkg.png") 0 0;
  color:#b5e853;
  font-size:16px;
  line-height:1.5;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace}

h1,h2,h3,h4,h5,h6,a {
  margin:0 0 20px;
  font-weight:normal;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#b5e853;
  letter-spacing:-0.03em;
  text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1)}

h1,a{
  font-size : 30px; }

h2{
  font-size : 20px; }
    
li {
  line-height:1.4;
  list-style-image:url("../images/bullet.png")}

.middle.col,header,footer {
  border-style: dashed;
  border-color: #b5e853;
  box-shadow:0 1px 8px rgba(181,232,83,0.1)}

header,footer {
  width:100%;
  border-left:0px;
  border-right:0px;}
  
header {
  border-top:0px;
  padding:25px 0px 0px 20px;}
       
footer {
  position:absolute;
  bottom:0px;
  height:25px;
  border-bottom:0px;
  padding:25px 0px 25px 20px;
  font-size:12px;}    

.row, .col { 
  overflow: hidden; 
  position: fixed; }

.scroll-x { 
  overflow-x: auto; }

.scroll-y { 
  overflow-y: auto; }

.left.col { 
  width: 158px; }
      
.middle.col {
  width:2px; 
  height:100%;
  left:168px;
  border-left:0px;
  border-bottom:0px;
  border-top:0px;}

.right.col { 
  left: 178px;  
  width:calc(100% - 178px);
  height:100%;  }

.flexy,.flex-center{ 
  display: flex; 
  flex-direction: column;  }

.flexy>div {  
  padding-left:10px;
  padding-top:25px;
  padding-bottom:25px;
  line-height: 75px;
  font-size: 30px; }
  
.foot {
  position:fixed;
  display : flex;
  flex-direction:row;
  width:50%;
  }  
  
.logo {
  width:35px;
  height:35px;
  }
  
.copyright{
  position:fixed;
  left:calc(100% - 35vw); }
  
@media only screen and (max-width: 600px) {
  .left.col,.middle.col{
    widht:0px;
    visibility:hidden;
  }
  
  .right.col{
    width:100%;
    left:0px; }   
   
  body{
    font-size:10px; }
  
  h1{
    font-size:20px; }
    
  h2{
    font-size:15px; }
  
  .logo {
    width:20px;
    height:20px; }
  
  footer {
    height:20px;
    padding:10px 0px 15px 25px }
    
  .copyright{
    font-size:9px; }
}

/* index.md */
.dp {	
  border-radius: 50%;
  width:200px;}

.flex-center {
  align-items: center;
  padding:20px; }
 
.center { 
  text-align:center; }
  
.author {
  text-align:right;}

.quote {
  width:250px;
  margin:auto;
  margin-top:10px;}

.author {
  postion:relative;
  text-align:right;
  font-size:10px;}

/* index.md */
