---
---

@import "{{ site.theme }}";
body {
color:#008F11 }

.row, .col { 
  overflow: hidden; 
  position: fixed; }

.scroll-x { 
  overflow-x: auto; }

.scroll-y { 
  overflow-y: auto; }

.left.col { 
  width: 158px; }
  
.horizontal, .middle.col {
  border-style: dashed;
  border-color: #b5e853;}

.horizontal{
  border-top:0px;
  border-left:0px;
  border-right:0px;
  padding-top:20px;
  padding-bottom:0px;}
    
.middle.col {
  width:25px; 
  height:100%;
  left:150px;
  border-top:0px;
  border-left:0px;
  border-bottom:0px; }

.right.col { 
  left: 188px;  
  width:calc(100% - 188px);
  height:100%;  }

.header.row { 
  height: 75px; 
  line-height: 75px; }

.body.row { 
  top: 75px; 
  bottom: 50px; }

.footer.row { 
  height: 50px; 
  line-height: 50px; }

.flexy,.flex-center{ 
  display: flex; 
  flex-direction: column;  }

.flexy>div {  
  padding-left:10px;
  padding-top:25px;
  padding-bottom:25px;
  line-height: 75px;
  font-size: 30px; }

li {
  list-style-image:url("../images/bullet.png"); }

a {
  font-weight:normal;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#b5e853;
  letter-spacing:-0.03em;
  text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1) }

/* index.md */
.dp {	
  border-radius: 50%;
  width:200px;}

.flex-center {
  align-items: center;
  padding:20px; }
 
.center { 
  text-align:center; }
  
.author {
  text-align:right;}

.quote {
  width:250px;
  margin:auto;
  margin-top:10px;}

.author {
  postion:relative;
  text-align:right;
  font-size:10px;}

/* index.md */

/* rain.md */
/*basic reset
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer
body {background: black;}
canvas {display: block;}
/* rain.md */
