---
---

//@import "{{ site.theme }}";
body {
  margin:0;
  padding:0;
  background:#151515 url("../images/bkg.png") 0 0;
  color:#b5e853;
  font-size:20px;
  line-height:1.5;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace}

h1,h2,h3,h4,h5,h6,a {
  margin:0 0 20px;
  font-weight:normal;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#b5e853;
  letter-spacing:-0.03em;
  text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1)}

h1,a{
  font-size : 30px; 
}

h2{
  font-size : 20px; 
}
    
li {
  line-height:1.4;
  list-style-image:url("/images/bulletBig.png");
  text-decoration: none;
}

header {
  position:fixed;
  overflow:hidden;
  border-top:0px;
  height:60px;
  width:100%; }
  
header,footer {
  border-style: dashed;
  border-color: #b5e853;
  box-shadow:0 1px 8px rgba(181,232,83,0.1);
  background:#151515 url("../images/bkg.png") 0 0;
  border-left:0px;
  border-right:0px;
  padding:25px 0px 0px 20px;
  z-index: 3;
}
    
footer {
  border-bottom:0px;
  font-size:12px;
}

#downloads {
  padding-top:5px; 
}

#downloads .btn {
  display:inline-block;
  text-align:center;
  margin:0 }

.btn {
  display:inline-block;
  background:-webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
  padding:4px 9px;
  border-radius:50px;
  border:2px solid rgba(0,0,0,0.7);
  border-bottom:2px solid rgba(0,0,0,0.7);
  border-top:2px solid #000;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size:12px;
  text-decoration:none;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.05) }

.btn:hover {
  background:-webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8)) }

.btn.icon {
  display:inline-block;
  width:16px;
  height:16px;
  margin:1px 8px 0 0; }

.btn-github.icon {
  opacity:0.6;
  background:url("../images/blacktocat.png") 0 0 no-repeat }

.foot-right {
  text-align:center; }

.container{
 padding:100px 0px 0px 0px;
}
 
/*foot is the container for contact and copyright*/
.foot,.contact{
  display : flex;
  justify-content: space-between; }
  
.foot {
  width: calc(100% - 50px)}
  
.contact {
  width:150px; }  
  
.contact>a>img {
  width:35px;
  height:35px; }    

.dropbtn {
  cursor: pointer;
  width:auto; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: fixed;
  background:#151515 url("../images/bkg.png") 0 0;
  min-width: 200px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; }

.dropdown-content li {
  padding:8px 0px 8px 0px;}

.item {
  padding-left:0px;
  border-style: dashed;
  border-top:0px;
  border-left:0px;
  border-right:0px; 
  }

.show {display: block!important;}

@media only screen and (max-width: 600px) {   
  body{
    font-size:15px; 
  }
  
  h1,h2,h3,h4,h5,h6,a {
    margin:0;
  }

  a,h1{
    font-size:20px; 
  }
    
  a {
    text-decoration:none; 
  }
    
  h2{
    font-size:15px; 
  }
  
  li{
    list-style-image:url("../images/bullet.png");
  }

  header,footer {
    padding:20px 0px 5px 20px;
  }
    
  header {
    height:40px;
  }
  
  footer {
    font-size:9px;
  }

  .container{
    padding:80px 0px 0px 0px;
  }


  .btn {
  padding:3px 7px;
  font-size:9px; }
  
  //the img container in footer
  .contact{
    width:80px; 
  }  
  
  //the imges in footer
  .contact>a>img {
    width:20px;
    height:20px; 
  }
}