---

---

.flex-column,.flex-center{
  display: flex; 
  flex-direction: column; }

.flex-center {  
  align-items: center; }

.dp {	
  border-radius: 50%;
  width:200px;}
 
.center { 
  text-align:center; }
  
.author {
  text-align:right;}

.quote {
  width:340px;
  margin:auto;
  margin-top:10px;}

.author {
  text-align:right;
  font-size:13px; }

.leftside {
  align-self: flex-start;
  width:40%; }

.block-head{
  background-color : rgba(0,0,0,0.4);
  padding:5px 20px 5px 20px;
  margin:20px 0px 0px 0px; }

.heading {
  color: #53b5e8;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(83,181,232,0.1), 0 0 10px rgba(83,181,232,0.1); }

.para {
  margin: 5px 0px 0px 0px;
  font-size: 20px;
  line-height: 2.1; }

.grand-parent {
  margin-top:50px;
  width: 100%;
  text-align: center; }

.parent,.pill-parent {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;}

.child { 
  margin-top: 40px;
  width: 350px;
  background-color: rgba(0,0,0,0.3);
}

.title {
  margin-top: 5px;
}

.seperator{
  border-style: solid;
  border-color: #b5e853;
  margin: 5px 0 5px 0;
}

.certificate-img{
  height: 200px;
  width: 300px;
  margin-top: 10px;
}
.course{
  color: #53b5e8;
  text-decoration: none;
}

.pill-parent {
  margin-top:60px;
}

.pill,.pill-child {
  width: 500px;
  height: auto;
}

.pill{
  cursor: pointer;
}

.pill-text {
  position: relative;
  bottom :81px;
  margin:0px;
  font-size:50px;
  pointer-events:none;
}

.dice {
  width : 300px;
  height: 300px;
  margin : 40px 0 0 0;
}

.random-post{
  width: 50%;
  min-height: 350px;
  margin:50px 0 0 0;
}

.chart{
  width:80%;
}

@media only screen and (max-width: 600px) {
  
  .dp {
    width:150px; }

  .quote {
    width:200px; }
}
