---
---

#container {
  display: flex;
  overflow: hidden;
 height: 520px;
  width: 100%;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}
  
.column span {
  display: inline-block;
  width: 40px;
  font-size: 40px;
  line-height: 40px;
}
  
.b {
  /* .bright { */
  color: white;
}
  
.l {
  /* .light { */
  color: #b5e853;
}
  
.d {
  /* .dark { */
  color: #151515;
}
  