---
---

#container {
  display: flex;
  height: 500px;
  width: calc(100% - 5px);
}

.column {
  display: flex;
  flex-direction: column-reverse;
}
  
.column span {
  display: inline-block;
  width: 35px;
  font-size: 35px;
  line-height: 35px;
}
  
.b {
  /* .bright { */
  color: white;
}
  
.l {
  /* .light { */
  color: #b5e853;
}
  
.d {
  /* .dark { */
  color: #151515;
}
  