<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!---<link rel="icon" href="icon_path" type="image/icon type">--->
		<link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
		<tille>Maghil Vannan M</tilte>
	</head>
	<body>
		<audio controls autostart=”true”>   <source src=”/sounds/rain.ogg” type=”audio/ogg”>   <source src=”/sounds/rain.mp3” type=”audio/mpeg”> Your browser does not support the audio element. </audio>
		<div class="left col">
			<div class="flexy">
				<div><li><a href="{{site.baseurl}}/">Home</a></div>
				<div><li><a href="{{site.baseurl}}/about">About</a></div>
        <div><li><a href="{{site.baseurl}}/resume">Resume</a></div>
       	<div><li><a href="{{site.baseurl}}/test">Test</a></div>
				<div><li><a href="{{site.baseurl}}/rain">Rain</a></div>
				<div><li><a href="{{site.baseurl}}/game">Game</a></div>
			</div>
		</div>
		<div class="middle col"></div>
		<div class="right col">
			<div class="horizontal">
				<h1><li>one/{{page.title| default: site.title}}</h1>
			</div>
				{{content}}
		</div>
	</body>
</html>
