<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/test">Test</a></li>
        </ul>
      </nav>      
    </header>
    
        {{ content }}

  </body>
</html>
