---
title : Maghil Vannan M
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="theme-color" content="#b5e853"/>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Maghil's portfolio">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{site.baseurl}}/images/kid.png" type="image/icon type">
		<link rel="stylesheet" href="{{ '/assets/css/default.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/css/index.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/css/matrix.css?v=' | append: site.github.build_revision | relative_url }}">
		<script type="text/javascript" src="{{site.baseurl}}/assets/js/detect.min.js"></script>
		<!---<script type="text/javascript" src="{{site.baseurl}}/assets/js/default.js"></script>-->
		<!---<script type="text/javascript" src="{{site.baseurl}}/assets/js/matrix.js"></script>-->
		<title>Maghil Vannan M</title>
		
	</head>

	<body>	

		<header>
			<div class="dropdown">
  				<h1><li onclick="drop()" class="dropbtn">one/{{page.title| default: site.title}}</li></h1>
  				<div id="myDropdown" class="dropdown-content">
					<div class="item"><a href="{{site.baseurl}}/"><li>neo</li></a></div>
					<div class="item"><a href="{{site.baseurl}}/contact"><li>contact</li></a></div>
					<div class="item"><a href="{{site.baseurl}}/experience"><li>experience</li></a></div>
    				<div class="item"><a href="{{site.baseurl}}/projects"><li>projects</li></a></div>
					<div class="item"><a href="{{site.baseurl}}/certifications"><li>certifications</li></a></div>
  				</div>
			</div>
			<div class ="column" ><span id="init"></span></div>
		</header>	

		<div class="container">
            {{content}}
		</div>

		<footer>
			<div class="foot">
				<div class="contact">
					<a href="https://www.instagram.com/no_i_am_not_a_girl/"><img class="logo" src=" 	{{site.baseurl}}/images/instagram.png" alt="instagram"></a>
					<a href="https://stackoverflow.com/users/11373443/maghil-vannan"><img class="logo" src="{{site.baseurl}}/images/stackOverflow.png" alt="stack overflow"></a>
					<a href="https://www.linkedin.com/in/maghil/"><img class="logo" src="{{site.baseurl}}/images/linkedIn.png" alt="linkedin"></a>		           
				</div>	
				<div class="foot-right">
					<div>Copyright : Take everything git gud</div>
					<div id="downloads">          
          					<a href="https://github.com/Maghil/Maghil.github.io" class="btn btn-github"><span class="icon"></span>Source Code</a>
        				</div>	
				</div>	
			</div>
		</footer>
		
		<script src="{{site.baseurl}}/assets/js/matrix.js"></script>
		<script src="{{site.baseurl}}/assets/js/default.js"></script>
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript>
			<img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" />
		</noscript>
	</body>
</html>
