---
title : Maghil Vannan M
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="theme-color" content="#b5e853"/>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{site.baseurl}}/images/kid.png" type="image/icon type">
		<link rel="stylesheet" href="{{ '/assets/css/links.css?v=' | append: site.github.build_revision | relative_url }}">
		    <script src="https://kit.fontawesome.com/80358f58a6.js" crossorigin="anonymous"></script>
		<title>Maghil Vannan M</title>	
	</head>
    <body>
		{{content}}
    </body>
</html>